/* 0. Reset ================================= */
@import 'reset';

/* 1. Main Layout ================================= */

*{
	box-sizing: border-box;
}

body{
	background: #282828;
	font-family: 'Architects Daughter', cursive;
	width: 90%;
	height: 90vh;	
	margin: 5%;
	color: #fff;
}

a{
	text-decoration: none;
	color: #73fdf5;
}

/* 2. Content ================================= */

header{
	display: flex;
	flex-direction: column;

	.logo{
		width: 40%;	
		height: 40%;
		margin-left: 30%;
		transition: 1s;
		text-align: center;
			
		img{
			width: 60%;	
			height: 60%;
		}
	}

	nav{
		width: 100%;
		
		ul{
			display: flex;
			justify-content: space-around;
			margin: 5.5% 0 10%;

			li{ 
				a{
					padding: 10%;
					border-radius: 10%;
					transition: .5s;
					font-size: 1.6em;
					
					&:hover{
						background: #617ee5;
					}
				}	
			}
		}
	}
}

@media screen and (min-width: 768px){
	header{
		display: flex;
		flex-direction: row;
	
		.logo{
			width: 20%;
			margin: 0%;
			transition: 1s;
		}
	
		nav{
			width: 100%;
		
			ul{
				li{
					a{
						font-size: 2em;
					}
				}
			}
		}
	}
}



//HOME PAGE

.home{
	.home-nav{
		background: rgba(97, 126, 229, .3);
		text-decoration: underline;
	}
	h2{
		text-align: center;
		font-size: 3em;
		color: #617ee5;
		margin: 5% 0;

		.logo-inline{
			width: .6em;
		}
	}
	ul{
		display: flex;
		justify-content: space-around;

		li{
			text-align: center;
			
			h3{
				color: transparent;
				transition: 1s;
			}

			.bubble-pic{
				width: 90%;
				transition: .5s;
			}
			
			.bubble-resume{
				filter: sepia() hue-rotate(95deg);
				transition: .5s;
			}


			&:hover{		
				h3{
					color: #617ee5;
				}

				.bubble-pic{
					filter: grayscale(1);
				}

				.bubble-resume{
					filter: none;
				}
			}
		}
	}
	
	@media screen and (min-width: 768px){
		ul{
			display: flex;
	
			li{
				.bubble-pic{
					width: 60%;
				}
	
				.bubble1{
					
				}
			}
		}
	}
}

// WORK PAGE

.work{
	.work-nav{
		background: rgba(97, 126, 229, .3);
		text-decoration: underline;
	}

	.intro{
		text-align: center;
		font-size: 1.3em;
		margin: 5% 5% 15%;
	}

	p{
		margin: 1% 5%;
	}

	.projects{
		
		ul{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin-top: 10%;
			transition: 1s;

			li{
				position: relative;
				text-align: center;
				margin-bottom: 5%;

				a{
					img{
						width: 70%;
						transition: .5s;
						filter: grayscale(1);
						transition: 1s;
						border-radius: 10px;

						&:hover{
							filter: none;
							cursor: pointer;
						}
					}
				}

				h2{
					font-size: 2em;
				}

				div{
					margin-bottom: 5%;
				}
			}
		}
	}	
}

@media screen and (min-width: 768px){
	.work{
		.intro{
			font-size: 1.8em;
		}
		.projects{
			ul{
				flex-direction: row;
				margin-top: 7%;

				li{
					width:50%;

					a{
						img{
							// width: 20%;
						}
					}
				}
			}
		}	
	}

}


// ABOUT PAGE

.about{
	text-align: center;
	.about-nav{
		background: rgba(97, 126, 229, .3);
		text-decoration: underline;
	}

	.about-me-sect{
		margin: 40% 0 105%;
	}

	h2{
		margin: 5%;
		font-size: 1.3em;
	}

	.jump-gif{
		width: 50%;
		opacity: 1;
	}

	ul{
		li{
			img{
				width: 8%;
				overflow: hidden;
				z-index: -1;
				transition: 1s;
				opacity: 0;
			}
		}
	}
}

@media screen and (min-width: 768px){
	.about{
		.about-me-sect{
			margin: 20% 0 30%;
		}

		h2{
			font-size: 1.8em;
		}
	}
}

@media screen and (min-width: 100px){
	.about{
		.about-me-sect{
			margin: 0% 0 20%;
		}
	}
}

// RESUME PAGE

.resume{
	text-align: center;
	
	.resume-nav{
		background: rgba(97, 126, 229, .3);
		text-decoration: underline;
	}

	p{
		margin: 5%;
		font-size: 1.3em;
	}
	
	img{
		width: 75%;
	}
}

@media screen and (min-width: 768px){
	.resume{
		p{
			font-size: 1.8em;
		}
	}

}


footer{
	margin-top: 10%;

	ul{
		display: flex;
		margin: 0 30%;

		li{    
			text-align: center;
			
			img{
				width: 70%;
				transition: .5s;
				
				&:hover{
					// filter: invert(.8);
					filter: sepia() hue-rotate(200deg);  
				}
			}
		}
	}
}