/* 0. Reset ================================= */
@import 'reset';

/* 1. Main Layout ================================= */

*{
	box-sizing: border-box;
}

body{
	background: #1d1d1f;	
}

/* 2. Content ================================= */
.home{
	font-family: 'Shadows Into Light Two', cursive;
	padding: 5% 5%;

	.logo{
		// position: absolute;
		width: 30%;
		height: auto;
		left: 35%;
		top: 25%;
		margin: 0 35% 5%;
	}

	.columns-sect{
		display: flex;
		width: 100%;
		height: 65vh;
		border: 5px solid black;

		div{
			border: 5px solid black;
			width: 33.3333%;
			
			h1{
				font-size: 9vw;
				text-align: center;
				margin-top: 30%;
				font-weight: bold;
				text-shadow: 1px 1px 1px #5C5C5C; 
			}

			ul{
				opacity: 0;
			}
		}

		.that-col{
			background: #5f33f4;
			transition: .5s;

			&:hover{
				background: #9173ff;
				transition: .5s;
			}		
		}

		.nataly-col{
			background: #27b4c9;
			transition: .5s;

			&:hover{
				background: #00ffff;
				transition: .5s;
			}

			img{
				width: 30%;
			}
		}

		.girl-col{
			background: #f44191;
			transition: .5s;

			&:hover{
				background: #ff6ae8;
				transition: .5s;
			}
		}
	}
}



